@font-face {
    font-family: "Young Serif";
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Outfit";
    src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
    font-weight: 400 700;
    font-style: normal;
}

:root {
    --white:hsl(0, 0%, 100%);
    --stone-100:hsl(30, 54%, 90%);
    --stone-150:hsl(30, 18%, 87%);
    --stone-600:hsl(30, 10%, 34%);
    --stone-900:hsl(24, 5%, 18%);
    --brown-800:hsl(14, 45%, 36%);
    --rose-800:hsl(332, 51%, 32%);
    --rose-50:hsl(330, 100%, 98%);
}

body {
    font-size: 16px;
    font-family: "Outfit", sans-serif;
    color: var(--stone-600);
}

h1,
h2 {
    font-family: "Young Serif";
}

h1 {
    margin-top: 1.25em;
    margin-bottom: 0.75em;
    color: var(--stone-900);
    font-size: 35px;
    line-height: 1em;
}

h2 {
    color: var(--brown-800);
    font-size: 27px;
}

main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    width: 83%;
}

.prep-time-title {
    font-weight: 600;
    color: var(--rose-800);
    font-size: 20px;
}

.prep-time {
    background-color: var(--rose-50);
    padding: 1.25em 1.5em 0.75em;
    margin: 2em 0;
    border-radius: 1em;
}